{% extends 'base.html.twig' %}

{% block title %}CGU | {{parent () }}{% endblock %}

{% block body %}
<h1>CGU</h1>

<p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Cupiditate earum reiciendis autem nesciunt nihil commodi optio 
    ullam sequi nam iste blanditiis et, atque sapiente dolore libero! 
    Iste atque aliquid accusamus.</span>
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Cupiditate earum reiciendis autem nesciunt nihil commodi optio 
    ullam sequi nam iste blanditiis et, atque sapiente dolore libero! 
    Iste atque aliquid accusamus.</span></p>
<p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Cupiditate earum reiciendis autem nesciunt nihil commodi optio 
    ullam sequi nam iste blanditiis et, atque sapiente dolore libero! 
    Iste atque aliquid accusamus.</span>
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Cupiditate earum reiciendis autem nesciunt nihil commodi optio 
    ullam sequi nam iste blanditiis et, atque sapiente dolore libero! 
    Iste atque aliquid accusamus.</span></p>
<p><span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Cupiditate earum reiciendis autem nesciunt nihil commodi optio 
    ullam sequi nam iste blanditiis et, atque sapiente dolore libero! 
    Iste atque aliquid accusamus.</span>
    <span>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
    Cupiditate earum reiciendis autem nesciunt nihil commodi optio 
    ullam sequi nam iste blanditiis et, atque sapiente dolore libero! 
    Iste atque aliquid accusamus.</span></p>

{% endblock %}
